.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.avatar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2098D1;
    transform: scale(0);
    transition: tranform 1s ease-in;
}

.avatar:hover::before {
    content: 'Fire';
    text-align: center;
    line-height: 8rem;
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
    transform: scale(1);
}