.card {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* background-size: 110% 110%; */
    background-size: cover;
    transform-origin: 50% 50%;
    perspective: 1800px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17);
}

.img {
    height: 120%;
    position: relative;
    top: -30px;
    left: 0px;
    object-fit: cover;
}

