.container {
  max-width: 36rem;
  height: 100vh;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  height: calc(100vh - 5rem);
  padding-top: 3rem;
  overflow-y: scroll;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 1rem 0 0;
  display: flex;
  justify-content: space-between;
}

.GoToTop {
  cursor: pointer;
}