.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    color: #3e3e3e;
}
.li {
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
}
.li + .li {
    margin-left: 20px;
}
.li:hover {
    border-bottom: 2px solid #3e3e3e;
}
